{
  "compositor": "niri",
  "paths": {
    "cache": "~/.cache/skwd"
  },
  "monitor": "DP-1",
  "intervals": {
    "weatherPollMs": 600000,
    "wifiPollMs": 10000
  },
  "components": {
    "bar": {
      "enabled": true,
      "workspaces": {
        "enabled": true,
        "hideWhenSingle": false,
        "hideEmpty": false,
        "allOutputs": false,
        "maxShown": 10
      },
      "windowTitle": { "enabled": true, "maxWidth": 260 },
      "tray": { "enabled": true },
      "kblayout": { "enabled": true },
      "netspeed": { "enabled": true, "refreshSec": 2, "interface": "" },
      "disk": { "enabled": true },
      "clock": { "showDate": false, "dateFormat": "ddd d MMM", "showSeconds": false },
      "volumeScrollStep": 5,
      "weather": {
        "enabled": true,
        "city": "YOUR_CITY"
      },
      "wifi": {
        "enabled": true,
        "interface": "wlan0"
      },
      "bluetooth": true,
      "volume": true,
      "calendar": true,
      "music": {
        "enabled": true,
        "preferredPlayer": "spotify",
        "visualizer": "wave",
        "visualizerTop": true,
        "visualizerBottom": true
      }
    }
  }
}
